$ cat .gitignore
install/tmp_structure.sql
install/tmp_data.sql
themes/CV/
cache/
vendor/
logs/
conf/DB/DBSettings.php
tests/Init/InitDoctrineSettings.php
.htaccess
.git
.metadata
composer.lock
.project
.settings
.buildpath
