$ cat .gitignore

# Conf
app/conf/DB/DBSettings.php
tests/Mock/MockDoctrineSettings.php
! app/.htaccess

# Theme
app/view/themes/CV/
*.less

# Tmp, composer and git
.htaccess
doc/
data/
vendor/
.git
composer.lock

# IDE files
nbproject/
.metadata
.project
.settings
.buildpath

# Other
sonar-project.properties
.sonar
