$ cat .gitignore
doc/
themes/CV/
cache/
vendor/
logs/
nbproject/
conf/DB/DBSettings.php
tests/Init/InitDoctrineSettings.php
*.less
themes/Default/css/variables.less
.htaccess
.git
.metadata
composer.lock
.project
.settings
.buildpath
