<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false">

    <filter>
        <whitelist>
            <directory suffix=".php">modules/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="CMSTests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
