@import "variables.less";

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

h2 {
    a {
        color: @post-head-color;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}

.delimiter {
    width: 80%;
    margin-top: 40px;
    height: @delimiter-height;
    border: 0px;
    background-color: @delimiter-color;

    &:last-of-type {
        visibility: hidden;
    }
}

.toggled, #page-content-wrapper {
    height:100%;
}

.page-header {
    margin-bottom: 0px;
}

div.breadcrumb {
    background-color: @breadcrumb-bgcolor;
    margin-bottom: 25px;
    padding: 0px;
}

ol.breadcrumb {
    margin-bottom: 0px;
}

p.bg-warning,
p.bg-success {
        padding: 10px;
}


footer {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: @footer-bgcolor;
    color: @footer-color;
    margin-top: 50px;
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: 18px;

    a {
        color: @footer-link-color;
    }
}

form#search .input-group-btn {
    vertical-align: top;
}

@media only screen and (min-width: 769px) {

    .page-header {
        text-align: center;
        margin-top: 0px;
        padding-top: 120px;

        h1 {
            background-color: @page-header-bgcolor;
            display: inline-block;
            margin: 0px;
            padding: 0 15px 0 15px;
            color: @page-header-color;
            font-size: 60px;
            font-weight: bold;
            text-align: center;

            small {
                display: inline-block;
                padding-top: 10px;
                border-top: @page-header-delimiter-height solid @page-header-delimiter-color;
                color: @page-header-description-color;
                width: 500px;
            }
        }
    }

    .sidebar {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;

        h1 {
            margin: 0 0 5px 0;
            font-size: 20px;
            font-weight: bold;
        }

        .form-group {
            margin: 0px;
        }
    }

    .sidebar-left {
        .sidebar;
        border-right: @sidebar-border-height solid @sidebar-border-color;
        padding-right: 10px;
    }

    .sidebar-right {
        .sidebar;
        border-left: @sidebar-border-height solid @sidebar-border-color;
        padding-left: 10px;
    }

    .sidebar-affix {
        position: absolute;
        top: 0px;
    }

    .sidebar-overflow {
        overflow-y: scroll;
        overflow: hidden;
        max-height: 500px;

        &::-webkit-scrollbar-track
        {
            background-color: @sidebar-scrollbar-bgcolor;
        }
        &::-webkit-scrollbar
        {
            width: @sidebar-scrollbar-height;
            background-color: @sidebar-scrollbar-bgcolor;
        }
        &::-webkit-scrollbar-thumb
        {
            border: 0px;
            border-radius: 0px;
            background-color: @sidebar-scrollbar-color;
        }
    }
}