.box-shadow-2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.toggled, #page-content-wrapper {
    height:100%;
}

.panel {
    .box-shadow-2;
}

.panel-default>.panel-heading {
    background-color: #FFF;
}

.page-header {
    margin-bottom: 0px;
}

div.breadcrumb {
    background-color: #f5f5f5;
    margin-bottom: 25px;
    padding: 0px;
}

ol.breadcrumb {
    margin-bottom: 0px;
}

footer {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: #222222;
    color: #FFF;
    margin-top: 50px;
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: 18px;

    a {
        color: #FFF;
    }
}

form#search .input-group-btn {
    vertical-align: top;
}

@media only screen and (min-width: 769px) {

    .page-header {
        text-align: center;
        margin-top: 0px;
        padding-top: 120px;

        h1 {
            background-color: fade(#000, 50%);
            display: inline-block;
            margin: 0px;
            padding: 0 15px 0 15px;
            color: #FFF;
            font-size: 60px;
            font-weight: bold;
            text-align: center;

            small {
                display: inline-block;
                padding-top: 10px;
                border-top: 2px solid #FFF;
                color: #FFF;
                width: 500px;
            }
        }
    }

    .sidebar {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;

        h1 {
            margin: 0 0 5px 0;
            font-size: 20px;
            font-weight: bold;
        }

        .form-group {
            margin: 0px;
        }
    }

    .sidebar-left {
        .sidebar;
        border-right: 1px solid #555555;
        padding-right: 10px;
    }

    .sidebar-right {
        .sidebar;
        border-left: 1px solid #555555;
        padding-left: 10px;
    }

    .sidebar-affix {
        position: absolute;
        top: 0px;
    }

    .sidebar-overflow {
        overflow-y: scroll;
        overflow: hidden;
        max-height: 500px;

        &::-webkit-scrollbar-track
        {
            background-color: #FFF;
        }
        &::-webkit-scrollbar
        {
            width: 3px;
            background-color: #FFF;
        }
        &::-webkit-scrollbar-thumb
        {
            border: 0px;
            border-radius: 0px;
            background-color: #2780e3;
        }
    }
}