@theme-path: './themes/Default';



.sidebar-category {
    margin: 0;
    padding: 0;

    li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;

        &:hover {
            background: transparent;
            text-decoration: none;
            color: #2780e3;
        }
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    li ul {
        padding-left: 5px;

        a {
            font-weight: initial;
        }
    }
}