                    <section>
                        <div class="row">

                            <?php
                            if ($this->havePage()):
                            $page = $this->getPage();
                            ?>

                            <h2><?php echo $page->getTitle(); ?></h2>

                            <hr />

                            <div class="text">
                                <?php echo $page->getText(); ?>
                            </div>

                            <?php else: ?>

                            <h2>No pages found</h2>

                            <?php endif; ?>

                        </div>
                    </section>
